.notecard-container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2%;
    margin-left: 5%;
}


.note-card
{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    padding: 1%;
    margin: 1%;

}