<app-header></app-header>

<router-outlet></router-outlet>
<!-- 
<app-side-nav-header></app-side-nav-header> -->


















<!-- <app-student></app-student>



<div>

    <p>
  
        main component provided by Angular !!!
    </p>
    <p> -->
        <!-- Interpolation Data Binding technique  (One way Data Binding) -->
        
       <!-- {{userName}} 
       <br>
       {{title}}
    
    </p>

    <button class="{{btnClass}}" [disabled]="IsDisable" 
    (click)="validateLogin()">{{btntext}}</button>

</div> -->



